@model Note

@{

}

<div class="container">
	<form asp-controller="Note" asp-action="Create" method="post">
        <input asp-for="Id" type="hidden" />
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input asp-for="Title" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Body</label>
            <input asp-for="Body" class="form-control">
        </div>
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
</div>