@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To EhbOverFlow</h1>
    <p>Got any Questions? Ask them here!.</p>
    <div class="d-grid gap-2">
        <a class="btn btn-primary" role="button" asp-controller="Note" asp-action="Index">Questions</a>
    </div>
</div>
